.vs/GraphQLHandsOn/FileContentIndex/6e75024d-ec01-4513-85dc-85ddac3c4d8e.vsidx
.vs/GraphQLHandsOn/FileContentIndex/8ad64bb1-1374-4da2-b208-b7c93edb2a98.vsidx
.vs/GraphQLHandsOn/FileContentIndex/e405654a-3ee7-49fb-938f-207b6a7f553c.vsidx
